#define IDD_MAIN 1000
#define IDC_STC1 1001
#define IDC_EDT1 1002
#define IDC_BTN1 1003
#define IDC_EDT2 1004
#define IDC_EDT3 1005
#define IDC_EDT4 1006

IDD_MAIN DIALOGEX 0,-12,171,51
CAPTION "Лаб. работа №4"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
BEGIN
  CONTROL "Введите пароль:",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE,6,6,159,9
  CONTROL "",IDC_EDT1,"Edit",NOT WS_VISIBLE|WS_CHILDWINDOW|WS_TABSTOP|ES_PASSWORD,6,18,159,12,WS_EX_CLIENTEDGE
  CONTROL "ОК",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,6,33,159,12
  CONTROL "",IDC_EDT2,"Edit",NOT WS_VISIBLE|WS_CHILDWINDOW|WS_TABSTOP|ES_READONLY,6,9,159,12,WS_EX_CLIENTEDGE
  CONTROL "",IDC_EDT3,"Edit",NOT WS_VISIBLE|WS_CHILDWINDOW|WS_TABSTOP|ES_READONLY,6,21,159,12,WS_EX_CLIENTEDGE
  CONTROL "",IDC_EDT4,"Edit",NOT WS_VISIBLE|WS_CHILDWINDOW|WS_TABSTOP|ES_READONLY,6,33,159,12,WS_EX_CLIENTEDGE
END

