#define IDD_MAIN 1000
#define IDC_STC1 1026
#define IDC_STC2 1027
#define IDC_STC3 1028
#define IDC_STC4 1029
#define IDC_EDT1 1001
#define IDC_EDT2 1002
#define IDC_EDT3 1003
#define IDC_EDT4 1004
#define IDC_EDT5 1005
#define IDC_EDT6 1006
#define IDC_EDT7 1007
#define IDC_EDT8 1008
#define IDC_EDT9 1009
#define IDC_EDT10 1010
#define IDC_EDT11 1011
#define IDC_EDT12 1012
#define IDC_EDT13 1013
#define IDC_EDT14 1014
#define IDC_EDT15 1015
#define IDC_EDT16 1016
#define IDC_EDT17 1017
#define IDC_EDT18 1018
#define IDC_EDT19 1019
#define IDC_EDT20 1020
#define IDC_EDT21 1021
#define IDC_EDT22 1022
#define IDC_EDT23 1023
#define IDC_EDT24 1024
#define IDC_EDT25 1025
#define IDC_BTN1 1031
#define IDC_STC5 1030
#define IDC_STC6 1032

IDD_MAIN DIALOGEX 15,3,357,132
CAPTION "À‡·. ‡·ÓÚ‡ π6"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX|DS_CENTER
BEGIN
  CONTROL "A =",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE,9,9,15,9
  CONTROL "B =",IDC_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE,9,27,15,9
  CONTROL "C =",IDC_STC3,"Static",WS_CHILDWINDOW|WS_VISIBLE,9,45,15,9
  CONTROL "D =",IDC_STC4,"Static",WS_CHILDWINDOW|WS_VISIBLE,9,63,18,9
  CONTROL "0.1415926",IDC_EDT1,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,27,6,60,15,WS_EX_CLIENTEDGE
  CONTROL "2",IDC_EDT2,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,93,6,60,15,WS_EX_CLIENTEDGE
  CONTROL "0.007",IDC_EDT3,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,159,6,60,15,WS_EX_CLIENTEDGE
  CONTROL "5",IDC_EDT4,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,225,6,60,15,WS_EX_CLIENTEDGE
  CONTROL "-7",IDC_EDT5,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,291,6,60,15,WS_EX_CLIENTEDGE
  CONTROL "3",IDC_EDT6,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,27,24,60,15,WS_EX_CLIENTEDGE
  CONTROL "0.5",IDC_EDT7,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,93,24,60,15,WS_EX_CLIENTEDGE
  CONTROL "-12",IDC_EDT8,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,159,24,60,15,WS_EX_CLIENTEDGE
  CONTROL "2",IDC_EDT9,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,225,24,60,15,WS_EX_CLIENTEDGE
  CONTROL "18.5",IDC_EDT10,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,291,24,60,15,WS_EX_CLIENTEDGE
  CONTROL "12",IDC_EDT11,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,27,42,60,15,WS_EX_CLIENTEDGE
  CONTROL "5",IDC_EDT12,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,93,42,60,15,WS_EX_CLIENTEDGE
  CONTROL "1.1",IDC_EDT13,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,159,42,60,15,WS_EX_CLIENTEDGE
  CONTROL "100",IDC_EDT14,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,225,42,60,15,WS_EX_CLIENTEDGE
  CONTROL "3.3333",IDC_EDT15,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,291,42,60,15,WS_EX_CLIENTEDGE
  CONTROL "-2.5",IDC_EDT16,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,27,60,60,15,WS_EX_CLIENTEDGE
  CONTROL "3",IDC_EDT17,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,93,60,60,15,WS_EX_CLIENTEDGE
  CONTROL "-3",IDC_EDT18,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,159,60,60,15,WS_EX_CLIENTEDGE
  CONTROL "0.1",IDC_EDT19,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,225,60,60,15,WS_EX_CLIENTEDGE
  CONTROL "4",IDC_EDT20,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,291,60,60,15,WS_EX_CLIENTEDGE
  CONTROL "",IDC_EDT21,"Edit",WS_CHILDWINDOW|WS_VISIBLE|ES_READONLY,27,78,60,15,WS_EX_CLIENTEDGE
  CONTROL "",IDC_EDT22,"Edit",WS_CHILDWINDOW|WS_VISIBLE|ES_READONLY,93,78,60,15,WS_EX_CLIENTEDGE
  CONTROL "",IDC_EDT23,"Edit",WS_CHILDWINDOW|WS_VISIBLE|ES_READONLY,159,78,60,15,WS_EX_CLIENTEDGE
  CONTROL "",IDC_EDT24,"Edit",WS_CHILDWINDOW|WS_VISIBLE|ES_READONLY,225,78,60,15,WS_EX_CLIENTEDGE
  CONTROL "",IDC_EDT25,"Edit",WS_CHILDWINDOW|WS_VISIBLE|ES_READONLY,291,78,60,15,WS_EX_CLIENTEDGE
  CONTROL "¬€◊»—À»“‹ !!!",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,27,99,324,15
  CONTROL "F =",IDC_STC5,"Static",WS_CHILDWINDOW|WS_VISIBLE,9,81,15,9
  CONTROL "‘ÓÏÛÎ‡: (tg(a+c/4) - 12*d) / (a*b-1)",IDC_STC6,"Static",WS_CHILDWINDOW|WS_VISIBLE,30,120,321,9
END

